.main{
    padding: 7em 0 0 0;

    &--grid{
        display: grid;
        background-color: #044179;
        padding-bottom: 2rem;
    }

    &__grid--sidebar{
        display: grid;
        grid-template-columns: 1fr 3fr; 
        background-color: #044179;
        padding-bottom: 2rem;
    }

    @include  mobile {
        padding: 0 0 0 0;

        &__grid--sidebar{
            display: grid;
            grid-template-columns: none; 
        }
    }
    
    @include tablet {
        padding: 0 0 0 0;
      
        &__grid--sidebar{
            display: grid;
            grid-template-columns: none; 
        }   
    }
}